.body{
	margin: 0;
	padding: 0;
}
.header{
	background-color: var(--clr-orange);
}
.header__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1500px;
	margin: 0 auto;
	padding: 5px 10px;
}
.logo{
	height: 60px;
}
.nav{

}
.nav__menu{
	display: flex;
	gap: 35px;
	list-style: none;
	padding-left: 0;
}
.nav-menu__item{

}
